<div class="row">
  <div class="col-md-4 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <p> <%= @outcome %>. </p>
      </div>
    </div>
  </div>
</div>
